absl-py==0.6.1
APScheduler==3.5.3
astor==0.7.1
beautifulsoup4==4.7.1
certifi==2022.12.7
chardet==3.0.4
Click==7.0
cssselect==1.0.3
cymem==2.0.2
cytoolz==0.9.0.1
dill==0.2.8.2
editdistance==0.5.2
elasticsearch==5.4.0
elasticsearch-dsl==5.3.0
en-core-web-lg==2.0.0
feedfinder2==0.0.4
feedparser==5.2.1
Flask==1.0.2
gast==0.2.1.post0
grpcio==1.17.1
h5py==2.9.0
idna==2.8
itsdangerous==1.1.0
jieba3k==0.35.1
Jinja2==2.10
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
lxml==4.3.0
Markdown==3.0.1
MarkupSafe==1.1.0
mordecai==2.0.1.post1
msgpack==0.5.6
msgpack-numpy==0.4.3.2
murmurhash==1.0.1
newspaper3k==0.2.8
nltk==3.4
numpy==1.15.4
pandas==0.23.4
Pillow==5.4.1
plac==0.9.6
praw==6.0.0
prawcore==1.0.0
preshed==2.0.1
protobuf==3.6.1
python-dateutil==2.7.5
pytz==2018.9
PyYAML==3.13
regex==2018.1.10
requests==2.21.0
requests-file==1.4.3
scipy==1.2.0
singledispatch==3.4.0.3
six==1.12.0
soupsieve==1.7
spacy==2.0.18
tensorboard==1.12.2
tensorflow==1.12.0
termcolor==1.1.0
thinc==6.12.1
tinysegmenter==0.3
tldextract==2.2.0
toolz==0.9.0
tqdm==4.29.1
tzlocal==1.5.1
ujson==1.35
update-checker==0.16
urllib3==1.24.1
Werkzeug==0.14.1
wrapt==1.10.11
